h1
{
	margin-bottom: 0.5rem;
}

#paper-name
{
	display: block;
    color: rgba(162,202,252,255);
    font-size: 1rem;
    transition: color 0.15s;
}

#name
{
	margin-bottom: 1rem;
}

.intro-text
{
	font-size: 1rem;
    line-height: 2.5rem;
    transition: color 0.15s;
	margin-bottom: 20px;
}